
<h1>Riddle me this</h1>
<h3><%= @the_riddle %></h3>

<form action="/output">
  <div class="form-group">
    <label for="answer">Type your answer</label>
    <input id="a" name="answer" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Answer</button>
</form>
