
<h1>Riddle me this</h1>

<h2><%= @the_riddle %></h2>

<img src="img/sphinx.jpg" alt="sphinx"/>

<form action="/output">
  <div class="form-group">
    <label for="answer">Type your answer</label>
    <input id="a" name="answer" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Answer</button>
</form>
