<h3><%= @the_riddle %></h3>
<h3>Your answer was: <%= @answer %></h3>
<h3><%= @string_to_display %></h3>
<img src="img/dorado.jpg" id="dorado" alt="dorado"/>
<img src="img/spike.png" id="spike" alt="spike"/>
<button type="button" class="btn btn-info"><a href='/'>Answer another riddle...</a></button>
