<h3><%= @the_riddle %></h3>
<h3>Your answer was: <%= @answer %></h3>
<h3><%= @string_to_display %></h3>
<img src="img/city.png" alt="sphinx"/>
<button type="button" class="btn btn-info"><a href='/city'>Answer another riddle...</a></button>
