img {
  width: 100%;
}

body {
  background-color: black;
  color: white;
}

label {
  font-size: 40px;
}

#dorado {
  display: none;
}

#spike {
  display: none;
}

#city {
  display: none;
}

#city1 {
  display: none;
}

#city2 {
  display: none;
}
